

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-weight: 400; */
}
h1{
  font-weight: 500;
}
.nav-wapper {
  display: flex;
  /* width: 100vw; */
  flex-direction: column;
  position: relative;
}
.main-nav {
  width: 100vw;
  height: 45px;
  background: #000000cc;
  top: 0;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
}
.second-nav {
  background-color: #e34140;
  height: 45px;
  width: 100%;
  margin-top:45px;
  /* position: absolute; */
  top: 45px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.shop-now {
  cursor: pointer;
}
.shop-now:hover {
  text-decoration: underline;
}
.chevron{
  font-size:14px;
  border:solid red 2px #000000;
  padding:0;
}
.--main-nav-ul {
  font-size: 12px;
  display: flex;
  width: 54%;
  list-style: none;
  /* border: solid 3px blue; */
  color: #f5f5f7;
  justify-content: space-around;
  align-items: center;
}
.search-icon {
  padding-top: 2.2px;
}
.--main-nav-ul > li {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}
.--main-nav-ul > li:hover {
  opacity: 1;
}

.section-wrapper {
  /* border: solid 2px rgb(0, 255, 42); */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section {
  background-color: rgb(194, 194, 194);
  height: 73.8vh;
}
.--section-1{
  background-color:#eaf3fc;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.--section-1-content-top{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 45%;
}
.--section-1-content-top> img{
  width:73px;
  padding-bottom:15px;
}
.--content-top-title h1{
  font-size:56px;
 
}
.--content-top-sub-title{
  font-size:21px;
  padding-top:10px;
  padding-bottom:25px;
  color:#0066cc;


}
.--section-1-content-bottom{
  /* border:solid 3px red; */
  display: flex;
  /* height:50%; */
  width:63%;
  justify-content: space-between;
  padding-top:20px;
  padding-bottom: 45px;
}
.iphone-hero{
  width:375px;
}
.--section-2{
  background: url("/styles/apple img/hero_iphone_13pro__dhnsegysa42u_medium_2x.jpg") center no-repeat;
  background-color:#FBFBFD;
  background-size:78%;
  background-position-y: 75% ;
}

.sub-cards-title {
  font-size:56px;
  font-weight: 500;
  padding-top: 50px;

}
.sub-cards-sub-title-1{

  font-size:25px;
  padding-top:10px;
}
.sub-cards-sub-title-2{
  padding-top:10px;
  font-size: 21px;
  color:#0066cc;
}
.--section-2-content-top{
  height: 45%;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:center; */
  /* border: solid 2px red; */
}