* {
  margin: 0;
  padding: 0;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-weight: 400; */
}
h1 {
  font-weight: 500;
}
.nav-wapper {
  display: flex;
  /* width: 100vw; */
  flex-direction: column;
  position: relative;
}
.main-nav {
  width: 100vw;
  height: 45px;
  background: #000000cc;
  top: 0;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
}
.second-nav {
  background-color: #e34140;
  height: 45px;
  width: 100%;
  margin-top: 45px;
  /* position: absolute; */
  top: 45px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.shop-now {
  cursor: pointer;
}
.shop-now:hover {
  text-decoration: underline;
}
.chevron {
  font-size: 14px;
  border: solid red 2px #000000;
  padding: 0;
}
.--main-nav-ul {
  font-size: 12px;
  display: flex;
  width: 54%;
  list-style: none;
  /* border: solid 3px blue; */
  color: #f5f5f7;
  justify-content: space-around;
  align-items: center;
}
.search-icon {
  padding-top: 2.2px;
}
.--main-nav-ul > li {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}
.--main-nav-ul > li:hover {
  opacity: 1;
}

.section-wrapper {
  /* border: solid 2px rgb(0, 255, 42); */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section {
  background-color: rgb(194, 194, 194);
  height: 73.8vh;
}
.--section-1 {
  background-color: #eaf3fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.--section-1-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 45%;
}
.--section-1-content-top > img {
  width: 73px;
  padding-bottom: 15px;
}
.--content-top-title h1 {
  font-size: 6rem;
}
.--content-top-sub-title {
  font-size: 21px;
  padding-top: 10px;
  padding-bottom: 25px;
  color: #0066cc;
}
.--section-1-content-bottom {
  /* border:solid 3px red; */
  display: flex;
  /* height:50%; */
  width: 63%;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 45px;
}
.iphone-hero {
  width: 375px;
}
.--section-2 {
  background: url("/styles/apple img/hero_iphone_13pro__dhnsegysa42u_medium_2x.jpg")
    center no-repeat;
  background-color: #fbfbfd;
  background-size: 78%;
  background-position-y: 75%;
}

.sub-cards-title {
  font-size: 6rem;
  font-weight: 500;
  padding-top: 50px;
}
.sub-cards-sub-title-1 {
  font-size: 25px;
  padding-top: 10px;
}
.sub-cards-sub-title-2 {
  padding-top: 10px;
  font-size: 21px;
  color: #0066cc;
}

.--section-3 {
  background: url("./Apple IMG/hero_iphone_13__f194u1rdooeq_medium_2x.jpg")
    center center no-repeat;
  background-color: #35283c;
  background-size: 75%;
  background-position-y: 100%;
}
.--section-2-content-top,
.--section-3-content-top {
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:center; */
  /* border: solid 2px red; */
}

.--pink-title {
  color: #e3aed4;
}
.--white-title {
  color: white;
}

.section-4 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.cards-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid blue 2px; */
  justify-content: flex-end;
  height: 27%;
}
.card-1-title,
.card-2-title,
.card-3-title {
  font-size: 4rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.card-1-sub-title,
.card-2-sub-title {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.buy-title {
  font-size: 1.8rem;
  color: #0066cc;
}

.watch-logo {
  width: 15%;
}
.card-2-top-content {
  height: 30%;
  /* border: solid blue 2px; */
}
.card-2-sub-title {
  padding-top: 10px;
}
.new-title {
  font-size: 1.3rem;
  padding-bottom: 10px;
  color: #bf4800;
}

/*#region background Images*/
.--card-1 {
  background: url("./Apple IMG/tile_macbookpro__cx0ur0qg9biq_medium_2x.jpg")
    center no-repeat;
  background-size: 84%;
  background-position-y: 70%;
  background-color: #fbfbfd;
}
.--card-2 {
  background: url("./Apple IMG/tile_watch__e9n11b6m6yq2_medium_2x.jpg") center
    no-repeat;
  background-color: #f5f5f7;
  background-size: 70%;
  background-position-y: 70%;
}

.--card-3 {
  background: url("./Apple IMG/tile_homepod_mini__b73w4z3ljymu_medium_2x.jpg")
    center no-repeat;
  background-color: #fbfbfd;
  background-size: 98%;
  background-position-y: 60%;
}
.--card-4 {
  background: url("./Apple IMG/tile_lego_castaways__d2v36ez91ewm_large.jpeg")
    center no-repeat;
  background-color: #fbfbfd;
  background-size: 130%;
  background-position-y: 70%;
}
.--card-5 {
  background: url("./Apple IMG/tile__cauwwcyyn9hy_medium_2x.jpg") center
    no-repeat;
  background-color: #fbfbfd;
  background-size: 75%;
  background-position-y: 70%;
}

.--card-6 {
  background: url("./Apple IMG/women-hero.png") center no-repeat;
  background-color: #fbfbfd;
  background-size: 145%;
  background-position-y: 100%;
}

/*#endregion background Images*/
.--s4-card {
  height: 60vh;
}

.footer {
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background: #f5f5f7;
}
.footer-container {
  /* border: solid 3px blue; */
  margin: 0 24vw;
  height: 78vh;
  color: rgba(0, 0, 0, 0.801);
}

p {
  font-size: 1.2rem;
}
.divider {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}

.footer-bottom-uls {
  display: flex;
  justify-content: space-between;
}
.footer-bottom-uls > ul {
  list-style: none;
  font-size: 12px;
  padding-top: 20px;
}
.footer-bottom-uls > ul > .li-title {
  cursor: default;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.911);
}
.footer-bottom-uls > ul > .li-title:hover {
  text-decoration-color: rgb(255, 255, 255);
}
.footer-bottom-uls > ul > li {
  padding-bottom: 10px;
  cursor: pointer;
}

.footer-bottom-uls > ul > li:hover {
  text-decoration: underline;
}

.text-iniside-footer-1 {
  padding-top: 30px;
  font-size: 12px;
}

.content-footer-bottom {
  display: flex;
  font-size: 12px;
  padding-top: 10px;
  justify-content: space-between;
}

.content-footer-bottom > ul {
  display: flex;
  list-style-type: none;
  padding-right: 100px;
}
.content-footer-bottom > ul > li {
  padding-left: 10px;
}
.list-item-foot,
.country-title {
  cursor: pointer;
}

.list-item-foot:hover,
.country-title:hover {
  text-decoration: underline;
}
